/**
 * @author 684171
 */

$background-color: #fdfeff; 
$text-input-background-color: #fff;
$text-color: #1c1c1c;
$search-focused-color: #000;
$search-unfocused-color: #1c1c1c;
$search-placeholder-color: #6d6d6d;
$address-hovor-color: #e2e2e2;
$search-item-background-color: #fff;
$search-button-hover-color: rgb(245, 245 , 245)